<style>
body {
background-color: crimson;
color: white;
}
h1 {
font-size: 20pt;
color: white;
}
p {
color: white;
font-size: 12pt;
}
div {
border-style: dotted;
border-width: 2px;
line-height: 100px;
}
ol {
list-style-type: upper-alpha;
}
ul {
list-style-type: square;
}
</style>
