<style>
body {
background-color: crimson;
color: blue;
}
h1 {
border-bottom: 10px solid white;
font-size: 20pt;
color: black;
padding-bottom: 20px;
}
h2 {
border-bottom: 5px dotted green;
font-size: 20pt;
color: black;
padding-bottom: 20px;
}
p {
border: 5px solid black;
border-radius: 15px;
background-color: yellow;
color: blue;
font-size: 12pt;
padding-top: 20px;
padding-bottom: 20px;
}
div {
border-style: dotted;
border-width: 2px;
line-height: 100px;
}
ol {
list-style-type: upper-alpha;
}
ul {
list-style-type: square;
}

</style>
