<style>
body {
background-color: crimson;
color: blue;
}
h1 {
font-size: 20pt;
color: black;
}
h2 {
font-size: 20pt;
color: black;
}
p {
color: blue;
font-size: 12pt;
}
div {
border-style: dotted;
border-width: 2px;
line-height: 100px;
}
ol {
list-style-type: upper-alpha;
}
ul {
list-style-type: square;
}

</style>
